rm501
*.o
*.d
build-stamp
debian/changelog
debian/rm501.substvars
debian/files
token
Makefile

build.ninja
build

CMakeCache.txt
cmake_install.cmake
CMakeFiles

.vscode
*.exe
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
