[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=RM-501 Robot Simulator
GenericName=RM-501 Robot Simulator
Comment=Mitsubishi RM-501 Movemaster II Robot Simulator
Icon=/usr/share/icons/hicolor/512x512/apps/rm501.png

Type=Application
Categories=Engineering;Development

Exec=rm501 -s %f
Terminal=false
